<!--HEADER/!-->
<!-- no header render on the home page/!-->
  <!-- Navigation -->
<nav class="navbar navbar-expand-sm navbar-dark bg-blue-600 fixed-top">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand logo font-bold" do %>
       LNCLASS
    <% end  %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <% if user_signed_in? %>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

            <!-- Home onglet/!-->
            <li class="nav-item active">
              <%= link_to root_path, class: "m-links nav-link" do %>
               <i class="fa fa-home"></i> Acceuil
              <% end %>
            </li>

            <!-- user avatar/!-->
            <li class="nav-item active">
              <%= link_to edit_user_registration_path(@user), class: "m-links nav-link capitalize" do %>
                 <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                 <%= current_user.username %>
              <% end %>
            </li>

            <!-- create course by teacher/!-->

              <li class="nav-item active">
                <%= link_to root_path, class: "m-links nav-link " do %>
                 <i class="fa fa-plus-circle" aria-hidden="true"></i>TablesClass
                <% end %>
              </li>
              <li class="nav-item active">
                <%= link_to root_path, class: "m-links nav-link " do %>
                 <i class="fa fa-plus-circle" aria-hidden="true"></i>Créer Léçons
                <% end %>
              </li>
              <li class="nav-item active">
                <%= link_to root_path, class: "m-links nav-link " do %>
                 <i class="fa fa-plus-circle" aria-hidden="true"></i>Matiere
                <% end %>
              </li>
              <!--
              -->


             <!-- Sign out /!-->
            <li class="nav-item active">
              <%= link_to destroy_user_session_path, method: :delete, class: "m-links nav-link" do %>
               <i class="fa fa-power-off" aria-hidden="true"></i> Déconnexion
              <% end %>
            </li>
          </ul>
        </div>
      <% end %>
  </div>
</nav>


